<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<div class="bg-gray-100 min-h-screen flex flex-col justify-start items-center pt-8">
  <main class="w-full md:w-3/5 mt-8 p-4">
    <h1 class="text-center mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">My Recipes</h1>

    <ul class="recipes mx-auto divide-y divide-gray-300 bg-white p-4 rounded-lg shadow-lg">
      <% if @recipes.empty? %>
        <li class="py-8 text-center text-gray-500">There are no recipes yet</li>
      <% else %>
        <li class="py-2 flex w-full items-center">
          <div class="flex items-center w-full justify-between">
            <h2 class="text-lg font-medium ml-5">Name</h2>
            <h2 class="text-lg font-medium mr-5">Description</h2>
          </div>
        </li>
        <% user_has_recipes = false %>
        <% @recipes.each do |recipe| %>
          <% if current_user == recipe.user %>
            <% user_has_recipes = true %>
            <%= render partial: 'shared/inventory_or_recipe_item',
                       locals: { data: recipe }
            %>
          <% end %>
        <% end %>
        <% unless user_has_recipes %>
          <li class="py-8 text-center text-gray-500">There are no recipes yet</li>
        <% end %>
      <% end %>

    </ul>

    <a href="<%= new_recipe_path %>" title="New Recipe" id="add_recipe"
       class="fixed right-6 bottom-10% inline-flex items-center justify-center w-12 h-12 mr-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-full focus:shadow-outline hover:bg-indigo-800">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
        <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" fill-rule="evenodd"></path>
      </svg>
    </a>
  </main>
</div>

</body>
</html>
