<li class="border border-1 flex">
  <div class="title w-[40%]">
    <h2>
      <%= link_to data.name, inventory_path(data)%>
    </h2>
    <%= button_to 'REMOVE', inventory_path(data), method: :delete %>
  </div>
  <div class="description flex-1">
    <p>
      <%= data.description %>
    </p>
  </div>
</article>