<article class="border border-1 flex flex-row justify-between w-[60%]">
  <div class="title w-[40%]">
    <h2>
      <%= data.name %>
    </h2>
    <button>REMOVE</button>
  </div>
  <div class="description flex-1">
    <p>
      <%= data.description %>
    </p>
  </div>
</article>